.container-fluid{
    background-color: white;
    height: 100%;
}

.hide-sidebar{
    border: #D9D9D9 1px !important;
    /* background-color: white; */
    color: #D9D9D9;
}

.sidebar{
    background-color: #11133E;
}